body.body--light{
--q-color-primary : #1976D2;
--q-color-secondary : #26A69A;
--q-color-accent : #9C27B0;
--q-color-dark : #1D1D1D;
--q-color-positive : #21BA45;
--q-color-negative : #C10015;
--q-color-info : #31CCEC;
--q-color-warning : #F2C037;
}

body.body--dark {
  --q-color-primary: #1976D2;
  --q-color-secondary: #26A69A;
  --q-color-accent: #9C27B0;
  --q-color-dark: #1D1D1D;
  --q-color-positive: #21BA45;
  --q-color-negative: #C10015;
  --q-color-info: #31CCEC;
  --q-color-warning: #F2C037;
}